<!DOCTYPE html>
<html>
<head th:replace="fragments :: page_head('Categories - Shopme Admin')" />
<body>
<div class="container-fluid">
	
	<div th:replace="navigation :: menu"></div>
	
	<div>
		<h1>Manage Categories  </h1>
		<a th:href="@{/categories/new}">Create Categories</a>	
		&nbsp;|&nbsp;
		<a th:href="@{/categories/export/csv}">Export to CSV</a>
		&nbsp;|&nbsp;
		<a th:href="@{/categories/export/excel}">Export to Excel</a>
		&nbsp;|&nbsp;
		<a th:href="@{/categories/export/pdf}">Export to PDF</a>
		
	</div>
	
	<div th:if="${message != null}" class="alert alert-success text-center" >
		[[${message}]]
	</div>
	
		<div th:replace="fragments :: search_form('/categories/page/1')" >	</div>
	
		<div class="full-details">
			<table class="table table-bordered table-hover table-striped table-responsive-xL">
				<thead class ="thead-dark">
					<tr>
						<th>
							ID	
						</th>
						<th>
							Category Image
						</th>
							<th>
								 <a class="text-white" th:href="@{'/categories/page/'+ ${currentPage} + '?sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' +keyword  : ''}}">Category Name</a>
								<span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>	
							</th>
						<!-- <th th:replace="fragments :: column_link('/categories', 'name', 'Categories Name', 'none')" />	 -->
													
						<th class="hideable-column"> Alias </th>
						<th> Enabled </th>						
						<th>  </th>
					</tr>
	
				</thead>
				<tbody>
						<tr th:each="categories : ${listCategories}">
							<td class="hideable-column">[[${categories.id}]]</td>
							<td>
									<span th:if="${categories.imagePath  == null}" class="fa-solid fa-image-portrait fa-3x icon-silver"></span>
									<img th:if="${categories.imagePath  != null}" th:src="@{${categories.imagePath}}" style="width:100px" th:align="center"/>
								<!--
									<img th:src="@{${categories.imagePath}}" /> 
								-->
							</td>
							<td>[[${categories.name}]]</td>
							<td>[[${categories.alias}]]</td>							
							<td>
								<div th:replace="fragments :: status(${categories.enabled}, 'category', '/categories/' + ${categories.id})" />

							</td>
							<td>
								<div th:replace="fragments :: edit('category', '/categories/edit/' + ${categories.id})" />
								<div th:replace="fragments :: delete('category', '/categories/delete/' + ${categories.id}, ${categories.hasChildren})" />
							</td>
						</tr>
				</tbody>
				
			</table>
	</div>
	
	<div class="less-details">
		<div th:each="categories : ${listCategories}" class="row m-1">
			<div class="col-4"> 
				<img th:src="@{${categories.imagePath}}" style="width:100px" class="img-fluid" />
			 </div>
			 <div class="col-8">
			 	<div>[[${categories.name}]]</div>
			 	<div class="mt-2">
			 		<div th:replace="fragments :: categories_status" />
					&nbsp;
					<div th:replace="fragments :: categories_actions" />
			 	</div>
			 </div>
		</div>
	</div>
<!--
	<div th:if="${keyword != null}">
		<span>Search result does not show categories in heirearchical form</span>
			<div th:replace="fragments :: pagination('/categories', 'categories')"></div>
	</div>
 -->
	
	<div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>

	<div th:replace="fragments :: footer"></div>
</div>
</body>

<script>
	function clearFilter(){
		window.location="[[@{/categories}]]";
	}
</script>

</html>